[Unit]
Description=access management system
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/Access-management-system/src/start.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillMode=process
User=pi
Group=pi
WorkingDirectory=/home/pi/Access-management-system/src/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=access-management-system

[Install]
WantedBy=multi-user.target

